.city{
    position: relative;
    display: flex;
    justify-content: center;
    top: -10%;
}
select{
    background: transparent;
    border: .5px solid white;
    -webkit-appearance: none;
    position: relative;
    -moz-appearance: none;
    appearance: none;
    color: white;
    width: 12dvw;
    min-width: 130px;
    align-self: center;
    padding: 2%;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    animation: animated-box-shadow 5s infinite;
}
select:hover{
    cursor: pointer;
}
option{
    background: black;
    color: white;
}
option:hover{
    cursor: pointer;
}
@keyframes animated-box-shadow {
  50% {box-shadow: rgba(255, 255, 255, 0.35) 0px 10px 25px;}
}
